.modal-overlay {
        display: none;
        /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Modal Box */
    .modal-box {
        background: #fff;
        padding: 20px;
        width: 350px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    /* Input Field */
    .otp-field {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
        font-size: 18px;
    }

    /* Buttons */
    .modal-buttons button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        cursor: pointer;
    }

    .modal-buttons button:first-child {
        background: #ccc;
    }

    .modal-buttons button:last-child {
        background: #28a745;
        color: white;
    }

      
  .hide {
    display: none;
  }

  .show {
    display: block;
  }


  /* ----------Profile and Experience Section in experience page----------------- */
  .card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
  }
  .border-0 {
    border: 0!important;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  section {
    /* padding: 120px 0; */
    overflow: hidden;
    background: #fff;
  }
  .mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
  }
  
  .section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
  }
  .text-primary {
    color: #ceaa4d !important;
  }
  .text-secondary {
    color: #15395A !important;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .display-26 {
    font-size: 1.3rem;
  }
  
  .font-15 {
    font-size: 15px;
  }
  
  @media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
  }
  @media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
  }
  @media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
  }
  .p-1-9 {
    padding: 1.9rem;
  }
  
  .bg-secondary {
    background: #15395A !important;
    min-width: 300px;
  }
  @media screen and (min-width: 576px){
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
  }
  @media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
  }
  .pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
  }
  .ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
  }
  .pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
  }
  .pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
  }
  .mb-1-9, .my-1-9 {
    margin-left: -25px;
    margin-bottom: 1.9rem;
  }
  @media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
  }
  .rounded {
    border-radius: 0.25rem!important;
  }

  
.card-component {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    /* max-width: 450px; */
    width: 100%;
    font-family: Arial;
    position: relative;
    bottom: 20px;
    margin: 0px;
  }
  
  .card-component2 {
    background-color: #F0F0F0;
    margin: 1px;
    /* border: solid 1px black; */
    display: table;
      width: 100%; /*Optional*/
      table-layout: fixed; /*Optional*/
      border-spacing: 5px; /*Optional*/
  }
  
  .card-component .__year {}
  
  .card-component .__title {
    font-size: 1em;
  }
  
  .card-component .__text {
    color: black;
  }
  /* ---------------------------------------------------------------End */


  
  .hide {
    display: none;
  }
  .show-inline {
    display: inline-block;
  }

  /* Status color */
.color-green
{
  color: #006400;
}

.color-yellow
{
  color: #ba8e23;
}

.color-red
{
  color: #8B0000;
}

.color-orange
{
  color: #FFA500;
}

/* Add Complaint */

#add-complaint-form-container .form-group-q {
  padding: 30px 40px;
  border:1px solid #1A2130 !important;
  border-radius: 8px;
  margin-top: 10px;
} 
.form-group-q label{
  margin-bottom: 10px;
} 
.form-group-q .form-control{
  padding-bottom: 8px;
} 
.update-btn-wrapper{
  text-align: right;
}
.update-profile{
  background-color: #1A2130 !important;
}

.x {
  position: relative;
  float: right;
  background: red;
color: white;
  top: -40px;
  right: -50px;
}

/* ----------Popup Model----------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
 /*  z-index: 1; Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  /* width: 30%; */
  text-align: center;
  /* height: 250px; */
  /* max-width: fit-content; */
  max-height: fit-content;
}

/* Modal Content */
.modal-content2 {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
  text-align: center;
  /* height: 250px; */
  /* max-width: fit-content; */
  max-height: fit-content;
}


.inner-modal-content {
  margin: auto;
  width: 70%;
}

/* Input field style */
.modal-content input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: table;
  margin: 0 auto;
}

/* Button styles */
.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Button colors */
.submit-btn {
  background-color: #4CAF50;
  color: white;
  width: fit-content;
}

.error-text {
  color:red;
  margin-top: 5px;
}

.width-100 {
  width:100px;
}
.width-180 {
  width:100px;
}

.close-btn {
  background-color: #f44336;
  color: white;
}